%section.mypage__side-bar
  %nav.mypage__side-bar__list
    %ul.mypage__menu
      %li
        %a.mypage__menu__list-item{href: "/users/#{current_user.id}"}
          マイページ
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          お知らせ
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          やることリスト
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          いいね！一覧
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item{href: "/items/new"}
          出品する
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item{href: "/users/#{current_user.id}/lists"}
          出品した商品 - 出品中
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          出品した商品 - 取引中
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          出品した商品 - 売却済
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          購入した商品 - 取引中
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          購入した商品 - 過去の取引
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          ニュース一覧
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          評価一覧
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          ガイド
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          お問い合わせ
          %i.fas.fa-angle-right


    %h3.mypage__side-bar__list__head
      メルペイ
    %ul.mypage__menu
      %li
        %a.mypage__menu__list-item.active{href: ""}
          売上・振込申請
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          ポイント
          %i.fas.fa-angle-right


    %h3.mypage__side-bar__list__head
      設定
    %ul.mypage__menu
      %li
        %a.mypage__menu__list-item{href: "/users/#{current_user.id}/profile"}
          プロフィール
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          住所変更
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          支払い方法
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          メール・パスワード
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item{href: "/users/#{current_user.id}/register"}
          本人情報
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item{href: "/creditcards/new"}
          クレジットカード情報入力
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item.active{href: ""}
          電話番号の確認
          %i.fas.fa-angle-right
      %li
        %a.mypage__menu__list-item{href: "/users/logout"}
          ログアウト
          %i.fas.fa-angle-right
