<li>
  <%= link_to check_item_path(item.id), class: "my-item-link" do %>
    <figure>
      <%= image_tag "item.images_id.image", alt: "画像" %>
    </figure>
    <div class="mypage-item-body show-stock-item">
      <div class="mypage-item-text">
        <%= item.name %>
      </div>
      <div>
        <div class="mypage-item-status bold awaiting">
          出品中
        </div>
      </div>
    </div>
  <% end %>
</li>
