  <main class=" l-container clearfix">
    <div class="l-content">
      <section class="mypage-tab-container">
        <h2 class="mypage-tab-head">出品した商品</h2>
          <ul class="listing-tabs">
            <li class="active">
              <h3>
                <a href="#mypage-tab-transaction-now" data-toggle="tab">
                出品中
                </a>
              </h3>
            </li>
            <li class="">
              <h3>
                <a href="/jp/mypage/listings/in_progress/">
                取引中
                </a>
              </h3>
            </li>
            <li class="">
              <h3>
                <a href="/jp/mypage/listings/completed/">
                  売却済み
                </a>
              </h3>
            </li>
          </ul>

          <div class="tab-content">
            <ul id="mypage-tab-transaction-now" class="mypage-item-list tab-pane active">
              <li>
                <a href="/items/1/check" class="my-item-link">
                  <figure>
                    画像
                  </figure>
                  <div class="mypage-item-body show-stock-item">
                    <div class="mypage-item-text">
                      アイテム名
                    </div>
                    <div>
                      <div class="mypage-item-status bold awaiting">
                        出品中
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </h2>
      </section>
    </div>

    <%= render partial: "shared/mypage-side-bar" %>


  </main>
  <footer class="item-footer">
    <%= image_tag("itemshow-footer.png", class: "footer-img", alt: "フリマアプリ無料ダウンロード") %>
  </footer>
