  <main class=" l-container clearfix">
    <div class="l-content">
      <section class="mypage-tab-container">
        <h2 class="mypage-tab-head">出品した商品</h2>
          <ul class="listing-tabs">
            <li class="active">
              <h3>
                <a href="#mypage-tab-transaction-now" data-toggle="tab">
                出品中
                </a>
              </h3>
            </li>
            <li class="">
              <h3>
                <a href="/jp/mypage/listings/in_progress/">
                取引中
                </a>
              </h3>
            </li>
            <li class="">
              <h3>
                <a href="/jp/mypage/listings/completed/">
                  売却済み
                </a>
              </h3>
            </li>
          </ul>

          <div class="tab-content">
            <ul id="mypage-tab-transaction-now" class="mypage-item-list tab-pane active">
              <% if @items.present? %>
              <% @items.each do |item| %>
                <%= render partial: "mypages/item_box", locals: {item:item} %>
              <% end %>
              <% else %>
              <div class="my-item-link">
                <div class="mypage-item-body show-stock-item">
                  出品中の商品がありません
                </div>
              </div>
              <% end %>
            </ul>
          </div>

        </h2>
      </section>
    </div>

    <%= render partial: "shared/mypage-side-bar" %>


  </main>
  <footer class="item-footer">
    <%= image_tag("itemshow-footer.png", class: "footer-img", alt: "フリマアプリ無料ダウンロード") %>
  </footer>
