.mypage-tab-container {
  margin: 40px 0 0;
  background: #fff;
}
.mypage-tab-container:nth-of-type(1) {
  margin: 0;
}
.mypage-tab-head {
  padding: 0 4%;
  background: #fafafa;
  font-size: 16px;
  line-height: 72px;
}
.mypage-tabs, .listing-tabs, .review-history-tabs {
  border: 0;
  background: #eee;
  font-size: 0;
}
.mypage-tabs li.active, .listing-tabs li.active, .review-history-tabs li.active {
  background: #fff;
}
.mypage-tabs li, .listing-tabs li, .review-history-tabs li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.listing-tabs li {
  width: 33.3%;
}
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
h3 {
  font-size: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.mypage-tabs a, .listing-tabs a, .review-history-tabs a {
    position: relative;
    display: block;
    color: #333;
    font-size: 16px;
    line-height: 72px;
}
.mypage-tabs li.active a, .listing-tabs li.active a, .review-history-tabs li.active a {
  border-top: 2px solid #ea352d;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .tab-pane.active {
  display: block;
}
.mypage-item-list li:last-child {
  border: 0;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mypage-item-list li:first-child {
  border-bottom: 1px solid #eee;
}
.my-item-link {
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;
}
.my-item-link figure {
  position: relative;
  overflow: hidden;
  float: left;
  width: 48px;
  height: 48px;
}
.my-item-list img.higher-width {
    width: auto;
    left: 50%;
    right: auto;
    height: 100%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.my-item-list img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
img {
  vertical-align: middle;
}
.mypage-item-body.show-stock-item {
  margin-right: 100px;
}
.mypage-item-body {
  margin: 0 40px 0 68px;
}
.mypage-item-text {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  max-height: 4.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5;
}
*, ::before, ::after {
  box-sizing: border-box;
}
.mypage-item-status.awaiting {
  background: #0099e8;
}
.mypage-item-status {
  display: inline-block;
  margin: 8px 0 0 0;
  padding: 5px 6px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
}
.bold {
  font-weight: 600;
}
